@import url();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation .head {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 40px;
    margin-left: 40px;
}

.navigation .head::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation .head:hover::after {
    transform: scaleX(1);

}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    transform-origin: left;
    color: #162938;
}

.wrapper {
    position: relative;
    width: 400px;
    margin-top: 50px;
    /* height: 440px; */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition : transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active{
    height: 500px;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}


.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #162938;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
   width: 100%;
   height: 40px;
   background: transparent;
   border: none;
   outline: none; 
   font-size: 1em;
   color: #162938;
   font-weight: 600;
   padding: o 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}


* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v31_42 {
    width: 100%;
    height: 945px;
    background: rgba(184,221,237,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v31_44 {
    width: 100%;
    height: 721px;
    background: rgba(255,255,255,0.6700000166893005);
    opacity: 1;
    position: absolute;
    top: 224px;
    left: 150px;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v50_131 {
    width: 585px;
    height: 371px;
    background: rgba(102,102,102,0.11999999731779099);
    opacity: 1;
    position: absolute;
    top: 384px;
    left: 636px;
    border: 0px solid rgba(0,0,0,1);
  }
  .v50_130 {
    width: 148px;
    height: 42px;
    background: url("../images/v50_130.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 656px;
    left: 855px;
    overflow: hidden;
  }
  .v31_46 {
    width: 148px;
    height: 42px;
    background: rgba(252,160,160,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 57px;
    border-top-right-radius: 57px;
    border-bottom-left-radius: 57px;
    border-bottom-right-radius: 57px;
    overflow: hidden;
  }
  .v31_50 {
    width: 104px;
    color: rgba(68,5,5,1);
    position: absolute;
    top: 8px;
    left: 28px;
    font-family: Alike;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v31_47 {
    width: 865px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 94px;
    left: 325px;
    text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    font-family: Lustria;
    font-weight: Regular;
    font-size: 75px;
    opacity: 1;
    text-align: left;
  }
  .v50_112 {
    width: 454px;
    height: 601px;
    background: url("../images/v50_112.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 355px;
    left: 182px;
    box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v50_125 {
    width: 589px;
    height: 60px;
    background: url("../images/v50_125.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 848px;
    left: 646px;
    overflow: hidden;
  }
  .v50_121 {
    width: 589px;
    height: 60px;
    background: rgba(255,255,255,0.6700000166893005);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v50_114 {
    width: 92px;
    height: 60px;
    background: url("../images/v50_114.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 461px;
    overflow: hidden;
  }
  .v50_115 {
    width: 63px;
    height: 58px;
    background: url("../images/v50_115.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 117px;
    overflow: hidden;
  }
  .v50_116 {
    width: 80px;
    height: 60px;
    background: url("../images/v50_116.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 341px;
    overflow: hidden;
  }
  .v50_124 {
    width: 69px;
    height: 60px;
    background: url("../images/v50_124.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 224px;
    overflow: hidden;
  }
  .v50_120 {
    width: 67px;
    height: 57px;
    background: url("../images/v50_120.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v31_49 {
    width: 516px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 459px;
    left: 681px;
    font-family: Alike;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }